<script id="estados-main-partial" type="text/x-handlebars-template">
<div class="container mt-5 mb-5">
    <h1 class="mb-5"><i class="fas fa-cloud-sun fa-lg" style="color: #c60606;"></i>  Clima en estados de México</h1>
    <div class="form-group mt-5">
        <label for="keyword">Selecciona un estado para obtener más información:</label>
        <input type="text" class="form-control" id="keyword" name="keyword">
    </div>
     <div id="imageContainer" class="mt-4 row">
            <!-- Images will be dynamically added here -->
    </div>
</div>
</script>
