<script id="footer-partial" type="text/x-handlebars-template">
    <footer class="footer mt-5 py-3 bg-light text-center">
      <p>&copy; 2023 climaMX. All rights reserved.</p>
    </footer>
</script>