<script id="home-main-partial" type="text/x-handlebars-template">
    <div class="custom-container-gradient-bg">
        <div class="container text-center">
            <img src="../../img/logoBlanco.png" alt="logo" class="img-fluid">
            <div class="landing-motto">Pronosticamos sonrisas y soleado mañana</div>
            <div><a class="btn btn-danger" href="views/estados.html" role="button">Clima en México</a> </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="card-deck">
            <div class="card">
                <div class="card-body text-center bg-light">
                <h5 class="card-title"><i class="fas fa-users fa-lg" style="color: #c60606;"></i>¿Quiénes somos?</h5>
                <hr>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim nisi assumenda nulla, obcaecati sit amet pariatur odio omnis beatae voluptates perspiciatis officiis provident non reprehenderit accusantium est laboriosam dignissimos qui!</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center bg-light">
                <h5 class="card-title"><i class="far fa-handshake fa-lg" style="color: #c60606;"></i>  Misión</h5>
                <hr>
                <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ab fugiat natus laborum tempore veritatis asperiores illum tenetur alias repellendus. Officiis, animi numquam blanditiis quasi quibusdam quod quas perferendis magni!</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center bg-light">
                <h5 class="card-title"><i class="fas fa-eye fa-lg" style="color: #c60606;"></i>  Visión</h5>
                <hr>
                <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis tenetur numquam rem placeat dicta exercitationem natus et alias fugiat veniam odio facilis ut, quo nisi vitae animi blanditiis suscipit maxime.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xl mt-5">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h3 class="card-subtitle mb-5 ml-3 mt-3"><i class="fas fa-cloud-sun fa-lg" style="color: #c60606;"></i> Cambio climático</h3>
                    <p class="ml-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, totam necessitatibus iusto consectetur dolorem aut dolore corrupti beatae, incidunt, perferendis odit rerum illum placeat mollitia consequatur. Doloribus quisquam praesentium provident! 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed beatae, illo hic cum natus enim repudiandae necessitatibus sint incidunt quibusdam placeat doloremque assumenda sequi quidem voluptate amet maiores quae.
                        Eveniet minus recusandae nesciunt unde soluta velit totam ratione, praesentium libero animi quae voluptate? Odio nobis ut consequatur necessitatibus, harum illo architecto?</p>

                    <p class="ml-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, totam necessitatibus iusto consectetur dolorem aut dolore corrupti beatae, incidunt, perferendis odit rerum illum placeat mollitia consequatur. Doloribus quisquam praesentium provident! 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed beatae, illo hic cum natus enim repudiandae necessitatibus sint incidunt quibusdam placeat doloremque assumenda sequi quidem voluptate amet maiores quae.
                        Eveniet minus recusandae nesciunt unde soluta velit totam ratione, praesentium libero animi quae voluptate? Odio nobis ut consequatur necessitatibus, harum illo architecto?</p>

                    <p class="ml-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, totam necessitatibus iusto consectetur dolorem aut dolore corrupti beatae, incidunt, perferendis odit rerum illum placeat mollitia consequatur. Doloribus quisquam praesentium provident! 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed beatae, illo hic cum natus enim repudiandae necessitatibus sint incidunt quibusdam placeat doloremque assumenda sequi quidem voluptate amet maiores quae.
                        Eveniet minus recusandae nesciunt unde soluta velit totam ratione, praesentium libero animi quae voluptate? Odio nobis ut consequatur necessitatibus, harum illo architecto?</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 text-center mb-5">
        <p class="home-title"><i class="far fa-newspaper fa-lg" style="color: #c60606;"></i>  Noticias del clima</p>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                <a href="https://vanguardia.com.mx/informacion/preparese-se-aproxima-nueva-masa-de-aire-frio-a-mexico-junto-a-nuevo-frente-frio-azotaran-con-temperaturas-de-10-grados-lluvias-y-evento-norte-AN10484602" target="_blank"><img src="../../img/home/news1.PNG" class="d-block" alt="..."></a> 
                </div>
                <div class="carousel-item">
                <a href="https://www.foxsports.com.mx/2023/12/18/frente-frio-18-en-2023-cuando-entra-a-mexico-estados-afectados-y-trayectoria/" target="_blank"><img src="../../img/home/news2.PNG" class="d-block" alt="..."></a>
                </div>
                <div class="carousel-item">
                <a href="https://larepublica.pe/ciencia/2023/06/08/la-tierra-experimentara-en-2024-una-temperatura-jamas-registrada-segun-pronosticos-538240" target="_blank"><img src="../../img/home/news3.PNG" class="d-block" alt="..."></a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
    </div>
    
</script>
